<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">vasadi consulting</a>
            <ul class="nav pull-right">
                <li class="active"><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">projects</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
</div>